#estaciones{
    width : 500px;
  }
  body{
    text-align:center;
  }
  h1{
    font-family: 'Second-Grade', sans-serif;
    letter-spacing: 5px;
  }
  p,h3{
    font-family: 'Fugiantte', sans-serif;
    font-size: 50px;
    }